@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* only needed once */

#content browser {
    margin-right: -17px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}